

.container {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}

#articles {
  height: 700px;
}

#notes {
  width: 80%;
}

textarea,
input {
  width: 100%;
}

input {
  height: 36px;
  font-size: 24px;
}

textarea {
  height: 200px;
  font-size: 18px;
}
